/node_modules/
/dist/
/.git/
/app/css/**/*.css
/app/js/**/*.js
!/app/js/app.js
/**/*.psd
/**/Thumbs.db
/**/*.DS_Store
.idea/
app/libs/bootstrap/js/bootstrap.js
app/libs/inputmask/dist/inputmask.js
/**/_backstage
/**/package-lock.json
/**/yarn.lock
/**/yarn-error.log
/**/Thumbs.db
/**/*.DS_Store