@import "bourbon";
@import "vars";

*::-webkit-input-placeholder {
	color: $default-color;
	opacity: 1;
}

*:-moz-placeholder {
	color: $default-color;
	opacity: 1;
}

*::-moz-placeholder {
	color: $default-color;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: $default-color;
	opacity: 1;
}

html {
	font-size: $font-size;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: $default-color;
}

body input:required:valid,
body textarea:required:valid {
	color: $default-color;
}

body {
	font-size: 1rem;
	min-width: $min-width;
	position: relative;
	line-height: 1.6;
	font-family: $default-font;
	overflow-x: hidden;
	color: $default-color;
}
