<% var data = {
    title: "Второй заголовок | Проект",
    copyright: "Alexander Sevirinov"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Second page</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid dolor eius in minima
            necessitatibus quaerat quas quasi quo quos! Culpa ea ex expedita illo magnam maiores quisquam, reiciendis
            totam!</p>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
